mpegdash
psutil
tqdm
requests
python-dotenv
webvtt-py
pysrt
m3u8
colorama
yt-dlp
bitstring
cloudscraper
unidecode
beautifulsoup4
lxml
six
pathvalidate
coloredlogs
tgcrypto
pyrogram
xmltodict
pywidevine
pytz
pymongo